<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Rent</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
        <a href="{% url 'homepage' %}" class="navbar-brand">Room Rent</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{% url 'renter_profile' %}" class="nav-link ml-2">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
            <li class="nav-item"><a href="{% url 'logouts' %}" class="nav-link">Logout</a></li>
        </ul>
    </nav>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border-0 bg-light">
                    <center>
                    <img src="{{ user.0.rr_image.url }}" class="shadow-sm mt-2" width="50%" height="150px" alt="logo">
                    <div class="card-body">
                        <h1 class="text-truncate h6 p-0 m-0  text-center text-uppercase text-muted">{{ userdata.0.first_name }} {{ userdata.0.last_name }}</h1>
                    </div>
                   </center>
                </div>
                <ul class="list-group mt-1 ">
                          <li class="list-group-item bg-light"><a href="{% url 'renter_profile' %}" class="nav-link small p-0 m-0 ml-5">Dashboard</a></li>
                          <li class="list-group-item bg-light"><a href="" class="nav-link small p-0 m-0 ml-5">Payment</a></li>
                          <li class="list-group-item bg-light"><a href="{% url 'renter_rooms' %}" class="nav-link small p-0 m-0 ml-5">My Rooms</a></li>
                          <li class="list-group-item bg-light"><a href="{% url 'password_change_renter' %}" class="nav-link small p-0 m-0 ml-5">Settings</a></li>
                </ul>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
{% block footer %}{% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
        $(document).ready(function () {
            $(".form-group>input,select,textarea").addClass("form-control")
        })
    </script>
</html>