{% extends 'roomrenter/rr_base.html' %}
{% load template_tags %}
{% block content %}
<div class="col-lg-9">
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <img src="{{ user.0.rr_id_proof.url }}" alt="" class="" width="100%" height="250px">
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <td>{{ userdata.0.first_name }} {{ userdata.0.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ userdata.0.email }}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{ user.0.rr_contact }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.0.rr_street }},{{ user.0.city }},{{ user.0.state }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="col-lg-12 mt-2">
        <div class="card">
            {% for foo in messages %}
                <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ foo }}
                </div>
            {% endfor %}
            <div class="card-header">Room Request</div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>Room</th>
                        <th>House Name</th>
                        <th>Room Owner</th>
                        <th>Contact</th>
                        <th>View</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
                    {% for rq in room_request %}
                                    <tr class="small">
                                        <td class="">{{ rq.ra_room_id.r_title }}</td>
                                        <td>{{ rq.user_id|room_owner_house }}</td>
                                        <td><a href="{% url 'house_view' rq.user_id|room_owner_id %}" class="nav-link p-0 m-0">{{ rq.user_id.first_name }} {{ rq.user_id.last_name }}</a></td>
                                        <td>{{ rq.user_id|room_owner_contact }}</td>
                                        <td><a href="{% url 'room_view' rq.ra_room_id.r_id %}" class="nav-link p-0 m-0"><i class="fas fa-eye fa-lg text-primary"></i></a></td>
                                        <td>{{ rq.ra_doc|date:'d M,Y' }}</td>
                                        <td>
                                            <div class="form-inline">
                                                <a href="{% url 'request_delete' rq.ra_id %}" class=" nav-link p-0 m-0 ml-2"><i class="far fa-times-circle fa-lg text-danger"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4"><div class="alert alert-danger h6 text-center p-5" role="alert">No renter request availables!</div></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-7 mt-2"></div>
</div>
</div>
{% endblock %}