{% extends 'roomowner/ro_base.html' %}
{% load template_tags %}
{% block content %}
    <div class="col-lg-9">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">Add room</div>
                {% for foo in messages %}
                                <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ foo }}
                                </div>
                        {% endfor %}
                <div class="card-body">
                    <form action="{% url 'add_room' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% for form in form %}
                                <div class="form-group">
                                {{ form.label_tag }}
                                {{ form }}
                                    <label for="" class="text-danger">{{ form.errors }}</label>
                                </div>
                            {% endfor %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}