{% extends 'roomowner/house_base.html' %}
{% load template_tags %}
{% block content %}
    <div class="col-lg-9">
    <div class="row">
        <div class="col-lg-12 mt-2">
            <div class="card">
                    <div class="p-2">
                        <select  id="renter_search" class="form-control ">
                            <option selected disabled="true">search renter by number......</option>
                        </select>
                    </div>
                <div class="card-header small p-1">
                    <div class="form-inline">
                        <span class="text-center mx-auto">Monthly Paids Payments</span>
                        <span class="mx-auto text-success">Total: ₹ {{ paid }}</span>
                        <form action="" method="post" class="mx-auto">
                            {% csrf_token %}
                            <input type="month" class="form-control mx-auto small" name="month" value="{{ date }}" onchange="this.form.submit();">
                        </form>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table table-responsive-sm">
                        <tr class="small">
                            <th>Room</th>
                            <th>Renter Name</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                        {% for p in payment %}
                            <tr class="small">
                                <td><a href="{% url 'owner_room_view' p.pp_allot_id.ra_room_id.slug %}" class="nav-link p-0 m-0">{{ p.pp_allot_id.ra_room_id.r_title }}</a></td>
                                <td><a href="{% url 'view_renter_profile' p.renter_id.username %}" class="nav-link p-0 m-0">{{ p.renter_id.first_name }} {{ p.renter_id.last_name }}</a></td>
                                <td class="text-success">₹ {{ p.pp_amount }}</td>
                                <td>{{ p.pp_doc|date:'d M,Y' }}</td>
                            </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5"><div class="alert alert-danger h6 text-center p-3" role="alert">No payments availables!</div></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}