{% extends 'roomowner/ro_base.html' %}
{% load template_tags %}
{% block content %}
    <div class="col-lg-9">
        <div class="row ">
            <div class="col-lg-12">
                <div class="row no-gutters">
                    <div class="col-lg-3 mt-2">
                        <a href="{% url 'owner_payment_paid' %}" class="nav-link">
                        <div class="card bg-primary p-3">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="fas fa-sort-amount-up text-light fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="text-light small">Total Paids</h6>
                                        <h5 class="text-light">₹ {{ total_paid }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 mt-2">
                    <a href="{% url 'owner_payment_gen' %}" class="nav-link">
                        <div class="card bg-warning p-3">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="fas fa-sort-amount-down text-light fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="text-light small">Total Generate</h6>
                                        <h5 class="text-light">₹ {{ total_gen }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                    <div class="col-lg-3 mt-2">
                    <a href="{% url 'owner_payment_due' %}" class="nav-link">
                        <div class="card bg-danger p-3">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="fas fa-hourglass-half text-light fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="text-light small">Total Dues</h6>
                                        <h5 class="text-light">₹ {{ renter|sum_due }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                    <div class="col-lg-3 mt-2">
                    <a href="{% url 'owner_payment_advance' %}" class="nav-link">
                        <div class="card bg-success p-3">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="fas fa-hourglass text-light fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="text-light small">Total Advance</h6>
                                        <h5 class="text-light">₹ {{ renter|sum_advance }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}