{% extends 'roomowner/house_base.html' %}
{% block content %}
<div class="col-lg-9">
    {% for foo in messages %}
                                <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ foo }}
                                </div>
                        {% endfor %}
<div class="row">
    <div class="col-lg-4">
            <img src="{{ owner.ro_id_proof.url }}" alt="" class="" width="100%" height="250px">
            <form action="{% url 'owner_update_id_proof' %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="edit_image">
                        <input type="file" hidden class="form-control" name="id_proof" onchange="this.form.submit()">
                            UPDATE ID Proof <i class="fas fa-image fa-lg "></i>
                        </label>
                    </div>
                </form>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                 <div class="form-inline">
            <span class="">House Details</span>
            <a href="{% url 'owner_update_house' house.slug %}" class="m-0 p-0 ml-auto"><i class="fas fa-edit fa-lg text-primary"></i></a>
        </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <tr class="small">
                        <th>House Name</th>
                        <td>{{house.house_name}}</td>
                    </tr>
                    <tr class="small">
                        <th>Email</th>
                        <td>{{ owner.user_id.email }}</td>
                    </tr>
                    <tr class="small">
                        <th>Contact</th>
                        <td>{{ house.ho_contact }}</td>
                    </tr>
                    <tr class="small">
                        <th>Address</th>
                        <td>{{ house.ho_street }},{{ house.city }},{{ house.state }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
            <img src="{{ house.house_image.url }}" alt="" class="" width="100%" height="250px">
            <form action="{% url 'owner_house' house.slug %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="edit_image">
                        <input type="file" hidden class="form-control" name="house_image" onchange="this.form.submit()">
                            UPDATE HOUSE <i class="fas fa-image fa-lg "></i>
                        </label>
                    </div>
                </form>
    </div>
</div>
</div>
{% endblock %}