{% extends 'roomowner/ro_base.html' %}
{% block content %}
    <div class="col-lg-9">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card">
                <div class="card-header">
                    <div class="form-inline">
                        My Renters
                    <div class="form-group ml-auto">
                        <select  id="renter_search" class="form-control ">
                            <option selected disabled="true">search renter by number......</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm">

                        <tr class="small">
                            <th>Renter Name</th>
                            <th>Room</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        {% for foo in messages %}
                                <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ foo }}
                                </div>
                        {% endfor %}
                        {% for r in renters %}
                            <tr class="small">
                            <td><a href="{% url 'view_renter_profile' r.renter.id %}" class="nav-link p-0 m-0">{{ r.renter.first_name }} {{ r.renter.last_name }}</a></td>
                            <td><a href="{% url 'owner_room_view' r.ra_room_id.r_id %}" class="nav-link p-0 m-0">{{ r.ra_room_id.r_title }}</a></td>
                            <td class="text-success">Active</td>
                            <td>{{ r.ra_doc|date:'d M,Y' }}</td>
                            <td><a href="{% url 'allot_pending' r.ra_id %}" class=" nav-link p-0 m-0"><i class="fas fa-pause-circle fa-lg text-warning"></i></a></td>
                            </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5"><div class="alert alert-danger h6 text-center p-3" role="alert">No any renter availables!</div></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}