{% extends 'roomowner/owner_base.html' %}
{% block content %}
    <div class="col-lg-9">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-transparent">Rooms Query</div>
                {% for foo in messages %}
                                <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ foo }}
                                </div>
                        {% endfor %}
                <div class="card-body">
                    <table class="table table-responsive-sm table-borderless">
                        <tr class="small">
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Date</th>
                            <th>Message</th>
                            <th>Delete</th>
                        </tr>
                    {% for q in query %}
                                    <tr class="small">
                                    <td>{{ q.m_name }}</td>
                                    <td>{{ q.m_contact }}</td>
                                    <td>{{ q.m_doc|date:'d M,Y' }}</td>
                                    <td>{{ q.m_message }}</td>
                                    <td><a href="{% url 'query_delete' q.m_id %}" class=" nav-link p-0 m-0 ml-2"><i class="far fa-times-circle fa-lg text-danger"></i></a></td>
                                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5"><div class="alert alert-danger h6 text-center" role="alert">No room query availables!</div></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
    </div>
{% endblock %}