{% extends 'roomowner/ro_base.html' %}
{% load template_tags %}
{% block content %}
<div class="col-lg-9 bg-white mb-2">
    <div class="card-header mt-1">
        <div class="form-inline">
            <span class="">Room Details</span>
            {% if room_view.r_status == '1' %}
                <a href="{% url 'room_pending' room_view.r_id %}" class="m-0 p-0 mx-auto btn btn-sm btn-warning text-light pl-1 pr-1"> Deactivate</a>
            {% else %}
                <a href="{% url 'room_active' room_view.r_id %}" class="m-0 p-0 mx-auto btn btn-sm btn-success text-light pl-1 pr-1"> Activate</a>
            {% endif %}
            <a href="{% url 'owner_room_edit' room_view.slug %}" class="m-0 p-0 ml-auto"><i class="fas fa-edit fa-lg text-primary"></i></a>
        </div>
    </div>

<div class="row mt-2 mb-2">
    <div class="col-lg-4">
        <div class="">
            <img src="{{ room_view.r_image.url }}" alt="" class="w-100" height="250px">
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card border-0">
                <table class="table table-responsive-sm bg-light">
                    <tr>
                        <th>Room Name</th>
                        <td>{{ room_view.r_title }} </td>
                    </tr>
                    <tr>
                        <th>Room Type</th>
                        <td>{{ room_view.r_type }}</td>
                    </tr>
                    <tr>
                        <th>Room Rent Amount</th>
                        <td>₹ {{ room_view.r_rent }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Description:</th>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="ml-5 small">{{ room_view.r_desc }}</span></td>
                    </tr>
                </table>
        </div>

    </div>
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">Request for rent</div>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <tr class="small">
                        <th>Name</th>
                        <th>Contact</th>
                        <th>View</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    {% for rq in room_renter_request %}
                                    <tr class="bg-dark small">
                                    <td class="text-light">{{ rq.renter.first_name }} {{ rq.renter.last_name }}</td>
                                    <td class="text-primary">{{ rq.renter|room_renter_contact }}</td>
                                    <td><a href="{% url 'view_renter_profile' rq.renter.username %}" class="nav-link p-0 m-0"><i class="fas fa-eye fa-lg text-primary"></i></a></td>
                                    <td class="text-light">{{ rq.ra_doc|date:'d M,Y' }}</td>
                                    <td>
                                        <div class="form-inline">
                                                <a href="{% url 'room_request_active' rq.ra_id %}" class=" nav-link p-0 m-0"><i class="fas fa-check-circle fa-lg text-success"></i></a>
                                                <a href="{% url 'allot_delete' rq.ra_id %}" class=" nav-link p-0 m-0 ml-2"><i class="far fa-times-circle fa-lg text-danger"></i></a>
                                        </div>
                                    </td>
                                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5"><div class="alert alert-danger h6 text-center p-3" role="alert">No renter request availables!</div></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
        <div class="card-header">Room Renter</div>
        {% load template_tags %}
            {% if room_view|room_allot_count == 0 %}
                <div class="alert alert-danger p-3" role="alert">No renter availables!</div>
            {% else %}
                    <div class="card-body">
                        <table class="table table-responsive-sm">
                            <tr class="small">
                                <th>Renter Name</th>
                                <th>Mobile</th>
                                <th>View</th>
                            </tr>
                            {% for r in room_renter %}
                                    <tr class="small">
                                    <td>{{ r.renter.first_name }} {{ r.renter.last_name }}</td>
                                    <td>{{ r.renter|room_renter_contact }}</td>
                                    <td><a href="{% url 'view_renter_profile' r.renter.username %}" class="nav-link p-0 m-0"><i class="fas fa-eye fa-lg text-primary"></i></a></td>
                                    </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5"><div class="alert alert-danger h6 text-center p-3" role="alert">No renter availables!</div></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}