{% extends 'roomowner/ro_base.html' %}
{% block content %}
    <div class="col-lg-9">
    <div class="row mt-5">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-center">Search Renter Details</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Renter Search</label>
                        <select  id="renter_search" class="form-control " >
                            <option selected disabled="true">search......</option>
                        </select>
                    </div>
                    <div class="alert alert-success text-center p-5" role="alert">
                        <span>*Enter 10 digit mobile number to get details!</span>
                        <br>
                        <span>*Search for  renter details and verify it!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-center">Room Allot</div>
                <div class="card-body">
                    <form action="{% url 'room_allot' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                                <div class="form-group">
                                    <label for="">Select Renter</label>
                                    <select name="renter" id="select_renter" class="form-control" >
                                        <option selected disabled="true">enter mobile number.</option>
                                    </select>
                                </div>
                                <div class="form-group mt-4">
                                    <label for="">Select Room</label>
                                    <select name="ra_room_id" class="form-control">
                                        <option selected disabled="true">rooms</option>
                                        {% for rm in room %}
                                            <option value="{{ rm.r_id }}">{{ rm.r_title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}