{% extends 'roomowner/owner_base.html' %}
{% block content %}
    <div class="col-lg-9">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card">
                <div class="card-header">Rooms Allot Pending</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <tr class="small">
                        <th>Name</th>
                        <th>Room</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    {% for foo in messages %}
                                <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ foo }}
                                </div>
                        {% endfor %}
                    {% for rp in roomallot_pending %}
                                    <tr class="small">
                                    <td class="text-light"><a href="{% url 'view_renter_profile' rp.renter.username %}" class="nav-link p-0 m-0">{{ rp.renter.first_name }} {{ rp.renter.last_name }}</a></td>
                                    <td><a href="{% url 'owner_room_view' rp.ra_room_id.r_id %}" class="nav-link p-0 m-0">{{ rp.ra_room_id.r_title }}</a></td>
                                    <td class="text-warning">Pending</td>
                                    <td>{{ rp.ra_doc|date:'d M,Y' }}</td>
                                    <td>
                                        <div class="form-inline">
                                                <a href="{% url 'allot_active' rp.ra_id %}" class=" nav-link p-0 m-0"><i class="fas fa-check-circle fa-lg text-success"></i></a>
                                        </div>
                                    </td>
                                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5"><div class="alert alert-danger h6 text-center p-3" role="alert">No renter pending availables!</div></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}