{% extends 'roomowner/house_base.html' %}
{% block content %}
<div class="col-lg-9 bg-white mb-2">
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card border-0 shadow-sm">
            <div class="card-header  text-center bg-transparent">Update House</div>
            <div class="card-body">
                <form action="" id="add_house" data-cities-url="{% url 'ajax_load_cities' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for form in form %}
                                <div class="form-group">
                                {{ form.label_tag }}
                                {{ form }}
                                    <label for="" class="text-danger">{{ form.errors }}</label>
                                </div>
                            {% endfor %}
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-block btn-info">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}