<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Room Rent</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <a href="{% url 'homepage' %}" class="navbar-brand">Room Rent</a>
        <ul class="navbar-nav ml-auto">


            {% if request.user.is_authenticated %}
                {%  if request.session.name == 'renter' %}
                    <li class="nav-item"><a href="{% url 'renter_profile' %}" class="nav-link ml-2">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                {% elif request.session.name == 'owner' %}
                    <li class="nav-item"><a href="{% url 'owner_profile' %}" class="nav-link ml-2">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                {% elif request.session.name == 'pending' %}
                    <li class="nav-item"><a href="{% url 'register_pending' %}" class="nav-link ml-2">Register pending</a></li>
                {% else %}
                {% endif %}
            <li class="nav-item"><a href="{% url 'logouts' %}" class="nav-link text-light btn btn-danger btn-sm">Logout</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'user_register_renter' %} " class="nav-link">Renter Register</a></li>
                <li class="nav-item"><a href="{% url 'user_register_owner' %}" class="nav-link">Owner Register</a></li>
                <li class="nav-item"><a href="{% url 'logins' %}" class="nav-link">Login</a></li>
            {% endif %}
        </ul>
    </nav>
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
        $(document).ready(function () {
            $(".form-group>input,select,textarea").addClass("form-control");
             $("#id_state").change(function () {
                const url = $("#register").attr("data-cities-url");  // get the url of the `load_cities` view
                const stateId = $(this).val();  // get the selected country ID from the HTML input

                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                    data: {
                        'state_id': stateId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                    }
                });

            });

            $(function () {
                $("#state").autocomplete({
                    source: '{% url 'state_search' %}',
                    minLength: 2
                });
            });
            $(function () {
                $("#city").autocomplete({
                    source: '{% url 'city_search' %}',
                    minLength: 2
                });
            });
        });
    </script>
</html>