{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 mx-auto mt-5">
            <div class="card">
                <div class="card-header">Register Pending</div>
                <div class="card-body">
                    <center>
                    <img src="{% static 'pending.jpg' %}" alt="" width="400px" height="200px">
                    </center>
                    <p class="text-center"> <a href="{% url 'register_renter' %}" class="btn btn-info text-light">Register for renter Step: 2</a></p>
                    <p class="text-center"> <a href="{% url 'register_owner' %}" class="btn btn-warning text-light">Register for owner Step: 2</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}