{% extends 'base.html' %}
{% load template_tags %}
{% block content %}
    <div class="container mt-3 ">
        <div class="card-header  text-center bg-transparent">Room Details</div>
        <div class="row mt-3 small">
            <div class="col-lg-4">
                <div class="text-center">
                    <img src="{{ room_view.r_image.url }}" alt="" class="w-100 rounded" height="250px">
                    <h6 class="text-center text-uppercase mt-2 text-muted"><a href="{% url 'house_view' house.slug %}" class="nav-link text-muted">{{ house.house_name }}</a></h6>
                    <p class="text-center text-muted"><i class="fa fa-map-marker"></i> : {{ house.ho_street }} ,{{ house.city }} ,{{ house.state }}</p>
                        <p class=" text-muted"><i class="fa fa-user"></i> : {{ house.user_id.first_name }} {{ house.user_id.last_name }}</p>
                        <p class="ml-auto text-muted"><i class="fa fa-phone"></i> : {{ house.ho_contact }}</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card border-0">
                        <table class="table table-responsive-sm ">
                            <tr>
                                <th>Room Name</th>
                                <td>{{ room_view.r_title }} </td>
                            </tr>
                            <tr>
                                <th>Room Type</th>
                                <td>{{ room_view.r_type }}</td>
                            </tr>
                            <tr>
                                <th>Room Rent Amount</th>
                                <td>₹ {{ room_view.r_rent }}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Description:</th>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="ml-5  text-muted">{{ room_view.r_desc }}</span></td>
                            </tr>
                        </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}