{% extends 'base.html' %}
{% load template_tags %}
{% block content %}
<form action="{% url 'search_room' %}" method="get">
    <div class="col-lg-6 mx-auto mt-5">
                        <div class="row  ">
                            <div class="col-lg-10 col-9 mx-auto">
                                    <select name="city_search" id="city_search" class="form-control " >
                                        <option selected disabled="true">Search city</option>
                                    </select>
                            </div>
                            <div class="col-lg-2 col-3 mx-auto">
                                <input type="submit" value="search" class="btn btn-secondary btn-block p-1 rounded-0" style="font-size:12px;">
                            </div>
                        </div>
       </div>
                    </form>

<div class="list-container">
<div class="left-col">
    {% if count == 0 %}
        <h5 class="text-danger">No any rooms found in your area!</h5>
    {% else %}
        <h5>({{ count }}) House found in your area</h5>
    {% endif %}
    {% for h in house %}
<div class= "house">
<div class="house-img">
	<img src="{{ h.house_image.url }}">
</div>
<div class="house-info">
	<p>{{ h.house_name }}</p>
	<h3>{{ h.ho_street }} ,{{ h.city }} ,{{ h.state }}</h3>
	<div class="row no-gutters">
        {% for t in h.ho_id|room_type %}
        <p class="small">{{ t }}/</p>
        {% endfor %}
    </div>
	<div class="house-price">
        {% if h.ho_id|room_count == 0 %}
		<p>No any Rooms</p>
        {% else %}
		<p>{{ h.ho_id|room_count }} Rooms</p>
        {% endif %}
		<a href="{% url 'house_view' h.slug %}" class="button">View Rooms</a>
	</div>
</div>
</div>
    {% endfor %}
</div>
<div class="right-col">
	<div class="sidebar">
        <p>Room Types</p>
		<div class="filter">
			<p><a href="{% url 'search_room' %}?city_search={{ request.GET.city_search}}" class="list-group-item list-group-item-action rounded-0  bg-transparent border-0 ">All Types</a>
</p>
		</div>
        {% for t in type %}
		<div class="filter">
			<p><a href="{% url 'room_type' t.slug %}?city_search={{ request.GET.city_search}}" class="list-group-item list-group-item-action rounded-0 bg-transparent border-0 ">{{ t.rt_title }}</a></p>
		</div>
        {% empty %}
            <span class="disabled">Empty</span>
        {% endfor %}
	</div>
</div>
</div>
{% endblock %}